<div class="container mx-auto d-flex">
    <div class="aadhar-stps">
        <!-- progressbar -->
        <ul class="progressbar">
            <li class="active">Step 1<br>User Details</li>
            <li id="step2">Step 2<br>Address Details</li>
            <li id="step3">Step 3<br>Document Upload</li>
        </ul>
        <div class="clr"></div>
        <!-- progressbar -->
    </div>
    <!-- Form Module-->
    <div class="module form-module col-md-9 mx-auto">
        <div class="pen-title">
            <h1>{{sectionTitle}}</h1>
        </div>
        <div class="row">
            <div class="form" *ngIf="step1">
                <form [formGroup]="userDetails">
                    <div class="row">
                        <div class="inputBlock col-sm-6">
                            <input formControlName="name" type="text" placeholder="Name" />
                            <span class="errorText"
                                *ngIf="this.userDetails.controls.name.errors!=null && submitted">Please
                                enter user name</span>
                        </div>
                        <div class="inputBlock col-sm-6">
                            <input formControlName="pan" type="text" placeholder="PAN" />
                            <span class="errorText"
                                *ngIf="this.userDetails.controls.pan.errors!=null && submitted">Please
                                enter
                                PAN</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="inputBlock col-sm-6">
                            <input formControlName="mobile" type="text" placeholder="Mobile" />
                            <span class="errorText"
                                *ngIf="this.userDetails.controls.mobile.errors!=null && submitted">Please
                                enter Mobile</span>
                        </div>
                        <div class="inputBlock col-sm-6">
                            <input formControlName="alternateMobile" type="text" placeholder="Alternate Mobile" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="inputBlock col-sm-6">
                            <input formControlName="email" type="text" placeholder="Email" />
                            <span class="errorText"
                                *ngIf="this.userDetails.controls.email.errors!=null && submitted">Please
                                enter Email</span>
                        </div>
                        <div class="inputBlock col-sm-6">
                            <input formControlName="alternateEmail" type="text" placeholder="Alternate Email" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="inputBlock col-sm-6">
                            <input formControlName="p_address" type="text" placeholder="Permanent Address" />
                            <span class="errorText"
                                *ngIf="this.userDetails.controls.p_address.errors!=null && submitted">Please
                                enter Permanent <Address></Address></span>
                        </div>
                        <div class="inputBlock col-sm-6">
                            <input formControlName="c_address" type="text" placeholder="Mailing Address" />
                            <span class="errorText"
                                *ngIf="this.userDetails.controls.c_address.errors!=null && submitted">Please
                                enter Mailing Address</span>
                        </div>
                    </div>
                    <div class="buttonBlock">
                        <!-- <button (click)="onBackClick()">Back</button> -->
                        <button *ngIf="!editEnable" (click)="submit()">Create</button>
                        <button *ngIf="editEnable" (click)="edit()">Update</button>
                    </div>
                </form>
            </div>

            <!-- ----------------Step 2--------------- -->
            <div class="form" *ngIf="step2">
                <form [formGroup]="userDetails">
                    <div class="buttonBlock">
                        <!-- <button (click)="onBackClick()">Back</button> -->
                        <button *ngIf="!editEnable" (click)="submitStep2()">Create</button>
                        <button *ngIf="editEnable" (click)="edit()">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>